<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>suffixes</key>
	<array>
		<string></string>
		<string>m</string>
		<string>m</string>
		<string></string>
		<string></string>
		<string>m</string>
		<string>°</string>
	</array>
	<key>formula</key>
	<array>
		<string>W</string>
		<string>W</string>
		<string>H</string>
		<string>W</string>
		<string>W</string>
		<string>W</string>
		<string>H</string>
	</array>
</dict>
</plist>
